[Unit]
Description=LaTeXListen Daemon

[Service]
ExecStart=python3 /home/sirawit/latexlisten/daemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
